<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>B2B Sale system</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

</head>
<body>
<div class="container">
    <div class="alert alert-success">
        <strong>Success!</strong> It is working as we expected.
    </div>
    <button type="button" class="btn btn-primary">Primary</button>

</div>
</body>
</html>